#lorem
{
    background-color: #6565c5;
    padding: 50px;
}
#lorem2{
    background-color: #d33a3a;
    margin: 50px;
    border: cornsilk 2px solid;
    text-align: center;
    border-radius: 10px;
}
body{
    background-color: black;
}